@model IEnumerable<DuLichV2.Models.EF.Tour>
@using DuLichV2.Common

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        
        <div class="product-item @item.TourCategory.Alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@item.Image" alt="@item.Name">
                </div>
                <div class="favorite favorite_left"></div>
                @if (item.PriceSale != item.Price)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                }
                <div class="product_info">
                    <h6 class="product_name"><a href="/chi-tiet/@item.Alias-t@(item.Id)">@item.Name</a></h6>
                    @if (item.PriceSale != item.Price)
                    {
                        <div class="product_price">@Common.FormatNumber(item.PriceSale, 0) đ<span>@Common.FormatNumber(item.Price, 0) đ</span></div>
                    }
                    else
                    {
                        <div class="product_price">@Common.FormatNumber(item.Price, 0) đ</div>
                    }

                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Chọn tour</a></div>
        </div>
    }
}
